
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

  :root{
    --darkest-color:#10141a;
    --dark-color:#1a1f25;
  }
body{
    background-color: var(--darkest-color);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}